.container-large {
  position: relative;
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}
.container-large-md {
  @include media-breakpoint-up(md) {
    position: relative !important;
    max-width: 1260px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.container-slider {
  position: relative;
  max-width: 1406px;
  margin-left: auto;
  margin-right: auto;
}

.container-get-in-touch {
  position: relative;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
}
@include media-breakpoint-down(md) {
  .container {
    width: 100% !important;
    max-width: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
