.swiper-slide {
  min-height: 100%;
  height: auto;
}

.mw-300px {
  max-width: 300px !important;
}

.mt-150px {
  margin-top: 150px !important;
}

.mw-360px {
  max-width: 360px !important;
}

.HR {
  width: 100%;
  margin: 0;

  &--type-1 {
    border: 1px solid #5781A6;
  }

  &--type-2 {
    border: 1px solid #335F82;
  }

  &--type-3 {
    border: 1px solid #0067B1;
  }

  &--type-4 {
    border: 1px solid #37ADBB;
  }

  &--type-5 {
    border: 1px solid #AFB2B3;
  }

  &--type-6 {
    border: 1px solid #1BB680;
  }

  &--type-7 {
    border: 1px solid #008FBE;
  }
}

.w-65px {
  width: 65px !important;
}

.w-80 {
  width: 80% !important;
}

.active {
  .Home__Get-In-Touch__Collapsible-Button__icon {
    transform: rotate(180deg);
  }
}

.w-60 {
  width: 60% !important;
}
.h-200px-md {
  @media (min-width: 768px) {
    height: 200px !important;
  }
}
.color-dark-blue {
  color: #2A6FA5 !important;
}

.text-size {
  &-6rem {
    font-size: 6rem !important;
    line-height: 6.2rem !important;
  }
}
.color-blue1 {
  color: #0067B1 !important;
}
.color-blue800 {
  color: $blue-800 !important;
}
.color-white {
  color: $white !important;
}
@each $name, $color in $section-colors {
  .color-#{$name} {
    color: $color !important;
  }
}
.color-blue800-bg {
  background-color: $blue-800 !important;
}
.color-blue900-bg {
  background-color: $blue-900 !important;
}
.color-white-bg {
  background-color: $white !important;
}
.mt-negative-5px {
  margin-top: -5px !important;
}
.font-weight-400 {
  font-weight: 400 !important;
}
.border-line {

  &--type-1 {
    background: #5781A6;
  }

  &--type-2 {
    background: #2e597c;
  }

  &--type-3 {
    background: #0067B1;
  }

  &--type-4 {
    background: #00C9D4;
  }

  &--type-5 {
    background: #AFB2B3;
  }

  &--type-6 {
    background: #1BB680;
  }

  &--type-7 {
    background: #008FBE;
  }

  &--type-8 {
    background: #008FBE;
  }
}
i {
  font-style: italic;
}
