.MobileItem {
  color: #fff;
  font-size: 1rem;
  padding: 1.5em
}

.MobileItem__title {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.MobileItem__title .text {
  display: flex;
  align-items: center;
  justify-content: center
}

.MobileItem__title .fractal {
  width: 30px;
  margin-right: .75em
}

.MobileItem__title .cta {
  transition: transform 1s ease;
  width: 20px
}

.MobileItem__content {
  padding-left: 2.8em;
  overflow: hidden
}

.MobileItem__content .description {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300
}

.MobileItem__content .read-more img {
  height: 48px
}

.MobileItem--escalation {
  background-color: #5781a6
}

.MobileItem--remediation {
  background-color: #2A6FA5
}

.MobileItem--government {
  background-color: #0067b1
}

.MobileItem--economic {
  background-color: #00c9d4
}

.MobileItem--business {
  background-color: #afb2b3
}

.MobileItem--operational {
  background-color: #1bb680
}

.MobileItem--digital {
  background-color: #008fbe
}

.MobileItem--real-time {
  background-color: #262830
}

.MobileItem--open .MobileItem__title .cta {
  transform: rotate(45deg)
}


.Triangles {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: translate(-6%, -12%);
  transition: stroke 1s ease, fill 1s ease
}

.Triangles__container {
  transform-origin: 50% 50%
}

.Triangles .text-group, .Triangles .triangle {
  fill: #b2b1b1;
  transform-origin: 50% 50%
}

.Triangles--background {
  opacity: 1
}

.Triangles--foreground {
  opacity: 0
}

.Triangles--foreground .text {
  opacity: 1 !important
}

.Triangles--foreground.remediation .triangle {
  stroke: #2A6FA5
}

.Triangles--foreground.remediation .text {
  fill: #2A6FA5
}

.Triangles--foreground.government .triangle {
  stroke: #0067b1
}

.Triangles--foreground.government .text {
  fill: #0067b1
}

.Triangles--foreground.economic .triangle {
  stroke: #00c9d4
}

.Triangles--foreground.economic .text {
  fill: #00c9d4
}

.Triangles--foreground.business .triangle {
  stroke: #afb2b3
}

.Triangles--foreground.business .text {
  fill: #afb2b3
}

.Triangles--foreground.operational .triangle {
  stroke: #1bb680
}

.Triangles--foreground.operational .text {
  fill: #1bb680
}

.Triangles--foreground.digital .triangle {
  stroke: #008fbe
}

.Triangles--foreground.digital .text {
  fill: #008fbe
}

.Triangles--foreground.escalation .triangle {
  stroke: #5781a6
}

.Triangles--foreground.escalation .text {
  fill: #5781a6
}

.Graphic {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin: auto;
}

.Graphic svg {
  overflow: visible;
  display: block;
  width: auto;
  max-width: 100% !important;
  height: 91vh !important;
  max-height: 650px !important;
}

@media (max-width: 1000px) {
  .Graphic .Triangle {
    transform: translate(-50%, -60%) scale(1.15)
  }
}

@media (max-width: 800px) {
  .Graphic {
    display: block;
    width: 100%
  }

  .Graphic svg {
    margin: 1em auto 1em auto !important;
    height: auto
  }
}

@media (max-width: 690px) {
  .Graphic {
    display: block;
    width: 100%
  }

  .Graphic svg {
    max-width: 80vw;
    margin-top:50px !important;
  }
}.Heptagon {
   position: relative;
   z-index: 1;
   max-width: 100%
 }

.Heptagon .icon {
  transform: scale(3)
}

.Heptagon .background {
  transition: fill 1s ease
}

.Heptagon .large-triangles {
  cursor: pointer;
  transform-origin: 50% 53%;
  transition: all ease-in-out .5s;
}

.Heptagon .large-triangles:hover path {
  animation: large-triangles 5s ease infinite
}

.Heptagon .large-triangles path {
  transform-origin: 50% 50%
}

@keyframes large-triangles {
  0%, 100% {
    fill: #fff;
    opacity: .05;
    transform: scale(1) rotate(0)
  }
  50% {
    fill: #e1523d;
    opacity: .5;
    transform: scale(1.5) rotate(25deg)
  }
}

.Heptagon--active .business, .Heptagon--active .digital, .Heptagon--active .economic, .Heptagon--active .escalation, .Heptagon--active .government, .Heptagon--active .operational, .Heptagon--active .remediation {
  opacity: .5
}

.Heptagon .business, .Heptagon .digital, .Heptagon .economic, .Heptagon .escalation, .Heptagon .government, .Heptagon .operational, .Heptagon .remediation {
  position: relative
}

.Heptagon .business .text, .Heptagon .digital .text, .Heptagon .economic .text, .Heptagon .escalation .text, .Heptagon .government .text, .Heptagon .operational .text, .Heptagon .remediation .text {
  fill: #fff
}

.Heptagon .business.active, .Heptagon .digital.active, .Heptagon .economic.active, .Heptagon .escalation.active, .Heptagon .government.active, .Heptagon .operational.active, .Heptagon .remediation.active {
  opacity: 1
}

.Heptagon .escalation .text {
  fill: #5781a6
}

.Heptagon .remediation .text {
  fill: #2A6FA5
}

.Heptagon .government .text {
  fill: #0067b1
}

.Heptagon .economic .text {
  fill: #00c9d4
}

.Heptagon .business .text {
  fill: #afb2b3
}

.Heptagon .operational .text {
  fill: #1bb680
}

.Heptagon .digital .text {
  fill: #008fbe
}

.Heptagon .escalation {
  transform-origin: 50% 13%
}

.Heptagon .escalation .icon {
  transform-origin: 50% 8%
}

.Heptagon .escalation.active .background {
  stroke: #5781a6;
  fill: #5781a6
}

.Heptagon .remediation {
  transform-origin: 78% 26%
}

.Heptagon .remediation .icon {
  transform-origin: 77% 21%
}

.Heptagon .remediation.active .background {
  stroke: #2A6FA5;
  fill: #2A6FA5
}

.Heptagon .government {
  transform-origin: 88% 62%
}

.Heptagon .government .icon {
  transform-origin: 87% 52%
}

.Heptagon .government.active .background {
  stroke: #0067b1;
  fill: #0067b1
}

.Heptagon .economic {
  transform-origin: 69% 86%
}

.Heptagon .economic .icon {
  transform-origin: 68% 79%
}

.Heptagon .economic.active .background {
  stroke: #00c9d4;
  fill: #00c9d4
}

.Heptagon .business {
  transform-origin: 30% 89%
}

.Heptagon .business .icon {
  transform-origin: 36% 82%
}

.Heptagon .business.active .background {
  stroke: #afb2b3;
  fill: #afb2b3
}

.Heptagon .operational {
  transform-origin: 14% 66%
}

.Heptagon .operational .icon {
  transform-origin: 15% 57%
}

.Heptagon .operational.active .background {
  stroke: #1bb680;
  fill: #1bb680
}

.Heptagon .digital {
  transform-origin: 19% 27%
}

.Heptagon .digital .icon {
  transform-origin: 18% 24%
}

.Heptagon .digital.active .background {
  stroke: #008fbe;
  fill: #008fbe
}

.Heptagon--active .Triangles--background {
  opacity: 0
}

.Heptagon--active .Triangles--foreground {
  opacity: 1
}

.Heptagon__menu {
  display: none
}

@media (max-width: 800px) {
  .Heptagon__menu {
    display: block
  }
}

.Heptagon .read-more {
  position: relative;
  z-index: 2
}

.Heptagon .read-more-bg, .Heptagon .read-more-text {
  transition: fill 1s ease
}

.Heptagon .read-more:hover .read-more-bg {
  fill: #fff
}

.Heptagon .read-more:hover .read-more-text {
  fill: #000
}
