$enable-responsive-font-sizes: true;
html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-size: $root-size;
  height: 100%;
}

.x-y-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box--background-blue {
  background-color: #193346;
  padding: 20px;
}
.template {
  background-color: white;
}
