//.swiper-slide:nth-child(3n - 3) {
//  .Home__Perspectives__Card__Header-Image-Border {
//    background: linear-gradient(90deg, #00C9D4, #00C9D4);
//  }
//  .Home__Perspectives__Card__Description-Link {
//    color: #00C9D4;
//  }
//}
//.swiper-slide:nth-child(3n - 2) {
//  .Home__Perspectives__Card__Header-Image-Border {
//    background: linear-gradient(90deg, #0067B1, #0067B1);
//  }
//  .Home__Perspectives__Card__Description-Link {
//    color: #0067B1;
//  }
//}
//.swiper-slide:nth-child(3n - 1) {
//  .Home__Perspectives__Card__Header-Image-Border {
//    background: linear-gradient(90deg, #008FBE, #008FBE);
//  }
//  .Home__Perspectives__Card__Description-Link {
//    color: #008FBE;
//  }
//}
