$root-size: 16px;

$white: #fff;
$black-1000: #000;
$green-1000: #1BB680;
$green-1000-20-P: rgba(27,182,128,.20);
$green-500: #00C9D4;
$lg-container-max-width: 1315px;
$blue-900: #0067B1;
$blue-800: #008FBE;
$blue-700: #5781A6;
$blue-700-31-P: rgba(87,129,166,.31);
$blue-1000: #2a6fa5;
$gray-900: #F5F6F8;
$gray-200: #AFB2B3;
$gray-200-30-P: rgba(175, 178, 179, .30);

$section-colors: (
  "operational": #1BB680,
  "business-model": #AFB2B3,
  "digital": #008FBE,
  "economic-impact": #00C9D4,
  "escalation": #5781A6,
  "government": #0067B1,
  "real-time": #008FBE,
  "remediation": #2A6FA5,
);

$header-intro-font-size: 1.4em;
$header-title-font-size: 93.33px;
$header-description-font-size: 53.33px;
$nav-link-font-size: 16px;

$dark-blue-gradient: linear-gradient(#003561, #000000);
