@import "../app/vars";

.Triangles {
  pointer-events: none;
  transform-origin: 50% 50%;
  transform: translate(-6%, -12%);
  transition: stroke $transition-time ease, fill $transition-time ease;

  &__container {
    transform-origin: 50% 50%;
  }

  .triangle,
  .text-group {
    fill: #b2b1b1;
    transform-origin: 50% 50%;
  }

  &--background {
    opacity: 1;
  }

  &--foreground {
    opacity: 0;

    .text {
      // Override next styles
      opacity: 1 !important;
    }

    &.remediation {
      .triangle {
        stroke: $remediation;
      }

      .text {
        fill: $remediation;
      }
    }

    &.government {
      .triangle {
        stroke: $government;
      }

      .text {
        fill: $government;
      }
    }

    &.economic {
      .triangle {
        stroke: $economic;
      }

      .text {
        fill: $economic;
      }
    }

    &.business {
      .triangle {
        stroke: $business;
      }

      .text {
        fill: $business;
      }
    }

    &.operational {
      .triangle {
        stroke: $operational;
      }

      .text {
        fill: $operational;
      }
    }

    &.digital {
      .triangle {
        stroke: $digital;
      }

      .text {
        fill: $digital;
      }
    }

    &.escalation {
      .triangle {
        stroke: $escalation;
      }

      .text {
        fill: $escalation;
      }
    }
  }
}
