.business-model-and-workforce-transformation {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";

  .Number {
    color: $gray-200;
    &__bar {
      background-color: $gray-200-30-P;
    }
    &__bar-full {
      background-color: $gray-200;
    }
  }
  .Paragraph--type-2 {
    margin-bottom: 0 !important;
  }
  .Title--type-1,
  .Title--type-6 {
    color: $gray-200 !important;
  }

  .Section__triangle {
    background-color: $gray-200;
  }
}
