.economic-impact-and-sustainability {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";
  .Number {
    color: $green-500;
  }
  .Number__bar-full {
    background-color: $green-500;
  }
  .Title--type-1,
  .Title--type-6 {
    color: $green-500;
  }

  .Section__triangle {
    background-color: $green-500;
  }
}
