.government-and-stakeholders-relations {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";
  .Number {
    color: $blue-900;
  }
  .Number__bar-full {
    background-color: $blue-900;
  }
  .Title--type-1 {
    color: $blue-900 !important;
  }

  .Section__triangle {
    background-color: $blue-900;
  }
}
