.Home {
  margin: 0;
  position: relative;
  overflow: hidden;

  @import "../components/BlueBlackGradientBg";

  .Home--Detail--Horizontal {
    position: absolute;
    left: 100px;
    height: auto;
    max-width: 1501.3672px;
    width: 100%;
    z-index: 1;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .Home--Detail--Vertical {
    position: absolute;
    right: -230px;
    top: 400px;
    width: auto;
    max-height: 1081px;
    height: 100%;
    z-index: 1;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__Header {
    padding: 5rem 0;
    @include media-breakpoint-down(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-Title {
      color: $white;
      @include font-size(70px);
      font-weight: 600;
    }

    &__Detail {
      width: 100%;
      text-align: right;

      &-Image {
        max-width: 143px;
        margin-left: auto;
        height: auto;
        flex-shrink: 0;
        padding: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &__Description {
      max-width: 1000px;
      margin-top: 8rem;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      &-Text {
        margin: 0;
        color: $white;
        @include font-size(37px);
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }

  &__Info__Graphic {
    margin: 0;
    padding: 0;

    &__Content {
      &__Title {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-Text {
          @include font-size(40px);
          color: $white;
          font-weight: 300;
        }

        &-Icon {
          max-width: 80.6143px;
          max-height: 25.8032px;
          height: 100%;
          margin-bottom: 10px;
          margin-right: 15px;
        }
      }

      &-Link {
        @include font-size(20px);
        text-transform: uppercase;
        color: $white;
        font-weight: bold;
        letter-spacing: 4px;
      }
    }

    &-Wrapper {
      position: relative;
      //max-width: 668.2799px;
      margin: 0 auto;
    }

    &-Image {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__Resilience-Barometer {
    padding: 10rem 0;
    padding-top: 5rem;
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }

    .Barometer--Section-Content {
      margin-top: 2.5rem;
      @include media-breakpoint-down(md) {
        margin-top: 1rem;
      }
    }

    &__Content {

      &__Title {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-down(xs) {
          justify-content: center;
          padding-bottom: 2rem;

        }
        h4 {
          font-size: 20px;
          letter-spacing: .14em;
          font-weight: bold;
        }
        h2,
        h1 {
          @include font-size(40px);
          color: $white;
          font-weight: 300;
        }

        &-Icon {
          max-width: 80.6143px;
          max-height: 15px;
          height: 100%;
          margin-bottom: 10px;
          margin-right: 15px;
        }

        &-right {
          justify-content: flex-end;
        }
      }
    }

    &__Description {
      position: relative;

      p {
        @include font-size(29px);
        color: $white;
        font-weight: 300;
      }

      &-Transparent {
        background: linear-gradient(rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, .9) 62%);
        height: 160px;
        width: 100%;
        z-index: 2;
        position: absolute;
        left: 0;
        bottom: 0;
        pointer-events: none;
      }

      &__Icon {
        position: relative;
        display: block;
        max-width: 38px;
        width: 100%;
        margin: 0 auto;
        z-index: 1000;

        &-Image {
          max-width: 38px;
          width: 100%;
          height: auto;
        }
      }
    }

    &__Counts {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;

      &-Title {
        color: $white;
        @include font-size(20px);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-bottom: 1.3rem;
      }

      &-Count {
        padding: 1.5rem 0;
        margin-top: 4rem;
        @include media-breakpoint-down(md) {
          text-align: center;
          margin-top: 0;
          padding-top: 0;
        }

        p {
          color: $white;
          font-weight: 300;
          @include font-size(22px);
        }

        &-Title {
          text-transform: uppercase;
          color: $white;
          display: block;
          letter-spacing: 2px;
        }

        &-Number {
          @include font-size(70px);
          font-weight: 600;
          line-height: 1;
        }

        &:first-child {
          margin-top: 0;

          span {
            color: $blue-900;
          }
        }

        &:nth-child(2) {
          span {
            color: $blue-800;
          }
        }

        &:nth-child(3) {
          span {
            color: $blue-700;
          }
        }

        &:nth-child(4) {
          span {
            color: $blue-700;
          }
        }
      }
    }
  }

  &__Perspectives {
    position: relative;
    background: $gray-900;
    padding: 5rem 0;
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }

    &__Title {
      max-width: 1260px;
      margin: 0 auto;

      &-Text {
        @include font-size(20px);
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 35px;
      }
    }

    &-Slider-Button {
      max-width: 30px;
      top: 0;
      z-index: 1000;
      cursor: pointer;

      &.button-next {
        right: -50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include media-breakpoint-down(lg) {
          right: 3%;
        }
      }

      &.button-previous {
        left: -50px;
        @include media-breakpoint-down(lg) {
          left: 3%;
        }
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      img {
        pointer-events: none;
        width: 100%;
        height: auto;
      }
    }

    &__Slider-Wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        max-width: 80%;
        margin: 0 auto;
      }
      &__Slider {
        overflow: hidden;
        flex-grow: 1;
        max-width: 1260px;
        margin: 0 auto;
        @include media-breakpoint-down(md) {
          margin-bottom: 40px;
        }
      }
    }

    &__Card {
      display: flex;
      flex-flow: column;
      background: $white;
      min-height: 100%;
      height: 100%;
      //max-width: 383.33px;
      //margin: 0 auto;
      &__Header {
        position: relative;

        &-Image {

        }

        &-Image-Placeholder {
          background: linear-gradient(90deg, #003561, #000000);
          height: 200px;
          width: 100%;
        }

        &-Image-Border {
          position: absolute;
          bottom: 0;
          height: 5px;
          width: 100%;
        }
      }

      &__Description {
        padding: 1.5rem 0 2rem 1.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          @include font-size(30px);
          font-weight: 300;
          line-height: 1.2;
        }

        &-Link {
          @include font-size(16px);
          text-transform: uppercase;
          letter-spacing: 3px;
        }
      }
    }
  }

  &__Join-Conversation {
    margin: 0;
    padding: 5rem 0;
    @include media-breakpoint-down(md) {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    &-Title {
      font-weight: 300;
      @include font-size(40px);
      line-height: 1;
    }

    &-Link {
      color: $blue-900;
      text-decoration: underline;
      @include font-size(40px);
      line-height: 1;
    }
  }

  &__Get-In-Touch {
    margin: 0;
    padding: 0;
    background: $black-1000;
    position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

    &__Collapsible {

      &-Button {
        background: none;
        border: none;
        box-shadow: none;
        color: $white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        letter-spacing: .14em;
        width: 100%;
        padding: 2.5rem 0;
        @include media-breakpoint-down(md){
          justify-content: center;
          padding:2rem 0;
        }
        h4 {
          @include media-breakpoint-down(md){
            margin: 0 auto;
          }
          font-size: 20px;
          font-weight: bold;
          letter-spacing: .14em;
        }

        &:focus {
          outline: none;
        }

        &.active {
          img {
            transform: rotate(180deg);
            transition: all ease-in-out .5s;
          }
        }

        img {
          max-width: 17px;
          height: auto;
          margin-right: 10px;
          transition: all ease-in-out .5s;
        }

        &__icon {

          margin-left: 5px;

        }
      }

      &-Body {
        position: relative;
        overflow: hidden;
        max-height: 0;
        transition: max-height ease-in-out .5s;
      }
    }
  }
}
