.operational-and-financial-resilience {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";
  .Number {
    color: $green-1000;
  }

  .Number__bar {
    &:not(.bar--white) {
      background: $green-1000-20-P;
    }
    &.bar--white {
      color: $white;
    }
  }

  .Number__bar-full {
    background-color: $green-1000;
  }
  .Title--type-1 {
    color: $green-1000 !important;
  }

  .Section__triangle {
    background-color: $green-1000;
  }
}
