.real-time-data-analytics {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";
  .Number {
    color: $blue-800;
  }

  .Number__bar {
    &:not(.bar--white) {
      background: $blue-700-31-P;
    }
    &.bar--white {
      color: $white;
    }
  }

  .Number__bar-full {
    background-color: $blue-800;
  }
  .Title--type-1 {
    color: $blue-800 !important;
  }

  .Section__triangle {
    background-color: $blue-800;
  }
}
