.remediation-and-dispute-resolution {
  position: relative;
  width: 100%;
  overflow: hidden;
  @import "../components/BlueBlackGradientBg";
  .Number {
    color: $blue-1000;
  }
  .Number__bar-full {
    background-color: $blue-1000;
  }
  .Title--type-1 {
    color: $blue-1000;
  }


}
