.Report {
  margin: 0;
  overflow: hidden;
  position: relative;

  @import "../components/BlueBlackGradientBg";

  &__Header {
    padding: 5rem 0 2rem;
    @include media-breakpoint-down(md) {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }

    &-Title {
      color: $white;
      @include font-size(70px);
      font-weight: 600;
    }

    &__Detail {
      width: 100%;
      text-align: right;

      &-Image {
        max-width: 143px;
        margin-left: auto;
        height: auto;
        flex-shrink: 0;
        padding: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    &__Description {
      max-width: 725.8182px;
      margin-top: 2rem;
      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      &-Text {
        margin: 0;
        color: $white;
        @include font-size(37px);
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }

  &--Detail--Horizontal {
    position: absolute;
    left: 100px;
    height: auto;
    max-width: 1501.3672px;
    width: 100%;
    z-index: 10;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &--Detail--Vertical {
    position: absolute;
    right: -230px;
    top: 300px;
    width: auto;
    max-height: 1081px;
    height: 100%;
    z-index: 10;
    @include media-breakpoint-down(md) {
      display: none;
    }

  }

  &--Detail--type-2 {
    position: absolute;
    width: auto;
    max-height: 1081px;
    height: 100%;
    z-index: -10;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__Sidebar {
    position: relative;

    h4 {
      letter-spacing: .14em;
      font-weight: bold;
      @include font-size(20px);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: rgba(0,0,0,0.3);
      z-index: -99;
    }
  }

  &__NumberedList {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    border-top: 3px solid rgba(255, 255, 255, 0.5);

    li {
      padding: 0.5rem 0;
      border-bottom: 2px dotted #afb2b3;

      &:last-child {
        border: none;
      }
    }
  }

  .Accordion {
    margin-bottom: 6rem;
  }

  .Download {
    appearance: none;
    border: none;
    outline: none;
    background: #0067b1;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;

    &:focus,
    &:active {
      outline: none;
    }
  }
}
