.Accordion {
  margin-bottom: 2rem;

  &__heading {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 20px;
    margin: 0;
  }

  &__item {
    border-bottom: 1px solid #fff;

    &__heading {
      display: flex;
      align-content: center;
      justify-content: space-between;
      position: relative;
      padding: 20px;

      h4 {
        letter-spacing: .14em;
        font-weight: 300;
        @include font-size(20px);

        strong {
          font-weight: bold;
          display: block;
        }
      }
    }

    &__toggle {
      appearance: none;
      background: none;
      border: none;
      outline: none;
      transition: transform ease-in-out 500ms;
      will-change: transform;
      height: 100%;
      display: block;
      min-height: 100%;
      position: absolute;
      right: 15px;
      top: 0;
      &:focus,
      &:active {
        outline: none;
      }

      &.active {
        transform: rotateZ(90deg);
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      transition: max-height ease-in-out 500ms;
      will-change: max-height;
      padding: 0 20px;
    }

    &.open {
      .Accordion__item__heading {
        background: rgba(0, 103, 177, 0.2);
      }

      .Accordion__item__content {
        max-height: 1000px;
      }
    }

  }

  .Accordion--Content--Transparent--Blue {
    background-color: rgba(0, 103, 177, .10);
  }
}
