.Animate {
  $animation-time: 2;
  @include media-breakpoint-up(md) {
    opacity: 0;
    position: relative;
    transition: 0.5s all ease;
  }

  &--count-numbers {
    opacity: 0;
  }

  &--delay-cols {
    @for $i from 1 through 3 {
      [class*=' col-']:nth-child(#{$i + 1}) {
        .Animate {
          animation-delay: #{0.1 * $i}s !important;
        }
      }
    }
  }
  &--delay-elements {
    @for $i from 1 through 10 {
      .Animate:nth-child(#{$i + 1}) {
        animation-delay: #{0.1 * $i}s !important;
      }
    }
  }
  &--delay-elements-double {
    @for $i from 0 through 10 {
      div:nth-child(#{$i + 1}) {
        .Animate {
          animation-delay: #{0.4 + (0.1 * $i)}s !important;
        }
      }
    }
  }
  &--fade-up {
    @include media-breakpoint-up(md) {
      &.Animate--show {
        animation: fade-up #{$animation-time}s forwards;
      }
    }
  }

  &--fade-down {
    @include media-breakpoint-up(md) {
      &.Animate--show {
        animation: fade-down #{$animation-time}s forwards;
      }
    }
  }

  &--slide-to-right {
    @include media-breakpoint-up(md) {
      &.Animate--show {
        animation: slide-to-right #{$animation-time}s forwards;
      }
    }
  }

  &--slide-to-left {
    @include media-breakpoint-up(md) {
      &.Animate--show {
        animation: slide-to-left #{$animation-time}s forwards;
      }
    }
  }
  &--grow-to-180 {
    @include media-breakpoint-up(md) {
      &.Animate--show {
        opacity: 1;
        width: 120%;
        transition: width 1.5s  ease;
      }
    }
  }
}


@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
