.Button {
  appearance: none;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }

  &__text {
    padding: 20px;
  }

  &--type-1 {
    background-color: #416cb0;
    color: white;
    padding: 10px 13px;
    font-size: 16px;
    letter-spacing: 2px;
    &:hover {
      color: white;
    }
  }
}
