.Progress-circle {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 240px;
  height: 240px;

  &-text {
    font-size: 70px;
    color: #5781A6;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    margin: auto;
  }
}

.Progress__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  &-ring {
    transition: 0.35s stroke-dashoffset;
    // axis compensation
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: $blue-700-31-P;
    &.ring--full {
      stroke: $blue-700;
    }
  }
}
