.Input {
  position: relative;

  &__element {
    width: 100%;
    border: 0;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: black;
    letter-spacing: 2px;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding: 15px 20px;

    &::placeholder {
      color: black;
    }
  }

  &__icon {
    position: absolute;
    top: 35%;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transform: translateY(-50%);

    &--search {
      background-image: url(/assets/img/search.png);
    }

    &--filter {
      background-image: url(/assets/img/arrow_down.png);
    }
  }
}
