.LeverCarousel {

  &__container {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__decoration {
    position: absolute;
    right: 0;
    max-width: 143px;
    margin-left: auto;
    height: auto;
    flex-shrink: 0;
    padding: 0;
    top: 20px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__bg {
    background-position: right center;
    background-repeat: no-repeat;

    &--type-1 {
      border-top: 4px solid #5781A6;
      background-size: 40%;
      background-position: right bottom;
    }

    &--type-2 {
      border-top: 4px solid #2A6FA5;
    }

    &--type-3 {
      border-top: 4px solid #0067B1;
    }

    &--type-4 {
      border-top: 4px solid #00C9D4;
    }

    &--type-5 {
      border-top: 4px solid #AFB2B3;
    }

    &--type-6 {
      border-top: 4px solid #1BB680;
    }

    &--type-7 {
      border-top: 4px solid #008FBE;
    }

    &--type-8 {
      border-top: 4px solid #008FBE;
      background-size: 560px;
    }
  }

  &__navigation-container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: fit-content;
    min-width: 274px;
  }

  &__button {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    cursor: pointer;

    &-prev {
      transform: rotate(-45deg);

      &:hover {
        transition: color;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
    }

    &-next {
      transform: rotate(135deg);

      &:hover {
        transition: color;
        border-top: 2px solid white;
        border-left: 2px solid white;
      }
    }
  }


  &__navigation-title {
    @include font-size(20px);
    line-height: 1.2em;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2.24px;
    color: white;
    margin-top: 2px;
    @include media-breakpoint-down(sm) {
      max-width: 200px;
      order: -1;
    }
  }

  &__title {
    @include font-size(70px);
    line-height: 1.2em;
    letter-spacing: -0.304px;
    color: white;
    font-weight: 500;
    margin-top: 30px;
    position: relative;
  }

  &__quote {
    @include font-size(40px);
    line-height: 1.2em;
    letter-spacing: -0.304px;
    color: white;
    font-weight: 100;
    padding-left: 20px;
    margin-top: 20px;
    position: relative;

    &--type-1 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #5781A6;
      }
    }

    &--type-2 {
      &:before {

        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #335F82;
      }
    }

    &--type-3 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #0067B1;
      }
    }

    &--type-4 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #37ADBB;
      }
    }

    &--type-5 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #AFB2B3;
      }
    }

    &--type-6 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #1BB680;
      }
    }

    &--type-7 {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;
        bottom: 0.25em;
        border-left: 5px solid #008FBE;
      }
    }
  }
}
