.Number {
  @include font-size(70px);
  line-height: 1.2em;
  color: #5781A6;
  font-weight: 600;

  &__bar {
    width: 100%;
    height: 10px;
    background-color: $blue-700-31-P;

    &.bar--white {
      background-color: $white !important;
    }

    &-full {
      height: 10px;
      background-color: $blue-700;
    }
  }

  &__title-type-1 {
    @include font-size(22px);
    line-height: 1.36363636em;
    font-weight: 100;
    color: #575756;
  }
}
