.OtherTopic {

  &__title {
    color: white;
    font-size: 25px;
    font-weight: 100;
  }

  &__read_more {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    letter-spacing: 2px;

    &--dark-blue {
      color: #3c62ae;
    }
    &--turquoise {
      color: #6cc3d3;
    }
    &--blue {
      color: #4e89bb;
    }
    &--gray {
      color: #afb2b2;
    }
  }


  &__wrapper {
    width: 100%;
    background-color: black;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--dark-blue {
      border-top: 4px solid #3c62ae;
    }
    &--turquoise {
      border-top: 4px solid #6cc3d3;
    }
    &--blue {
      border-top: 4px solid #4e89bb;
    }
    &--gray {
      border-top: 4px solid #afb2b2;
    }
  }
}
