
.Pagination {
  display: inline-block;

  &__item {
    color: black;
    float: left;
    font-size: 20px;
    font-weight: 100;
    padding: 8px 7px;
    text-decoration: none;
  }

  &--active {
    font-weight: 600;
    padding-top: 8px;
    font-size: 22px;
  }

  &__arrow_left {
    padding: 6px;
    display: inline-block;
    transform: rotate(-45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 40px;

  }

  &__arrow_right {
    padding: 6px;
    display: inline-block;
    transform: rotate(135deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 40px;
  }
}
