.Paragraph {
  &--type-1 {
    color: white;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    //letter-spacing: ;
  }

  &--type-2 {
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 100;
    color: #000;
  }

  &--type-3 {
    font-size: 18px;
    line-height: 30px;
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &--columns-2 {
    widows: 3;
    orphans: 3;
    columns: 2;
  }
}
