.Person {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(md) {
    margin-top: 2rem;
  }
  &__image {
    width: 145px;
    height: 145px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #4e555b;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }

  &__name {
    color: white;
    font-size: 25px;
  }

  &__position {
    color: white;
    max-width: 300px;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
  }
}
