.PostCarousel {
  &__title {
    font-size: 50px;
    line-height: 60px;
    color: #0067B1;
    font-weight: 300;
  }

  &__excerpt {

    p {
      font-size: 18px;
      line-height: 29.6px;
    }
  }

  &__read_more {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
  }

  &__button {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-top: 2px solid #0067B1;
    border-left: 2px solid #0067B1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    &-prev {
      transform: rotate(-45deg);
      left:-50px;
      &:hover {
        transition: color;
        border-top: 2px solid #0067B1;
        border-left: 2px solid #0067B1;
      }
    }

    &-next {
      transform: rotate(135deg);
      right:-50px;
      &:hover {
        opacity: .6;
        transition: color;
        border-top: 2px solid #0067B1;
        border-left: 2px solid #0067B1;
      }
    }
  }
}
