.Post {
  background-color: #f5f6f8;
  height: 100%;

  &--type-2 {
    border-top: 2px solid #0067B1;
    background-color: white;
  }

  &__wrapper {
    padding: 0 0 40px 0;
  }

  &__head {
    background-color: black;
    height: 190px;
    position:relative;
    &:before {
      content:" ";
      position: absolute;
      width: 100%;
      height: 5px;
      background: linear-gradient(90deg, #008FBE, #008FBE);
    }
  }

  &__date {
    color: #0067B1;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 14.4px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__title {
    color: #0067B1;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 10px;

  }

  &__content {
    padding: 30px;
  }

  &__excerpt {
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    color: #58595B;
    margin-bottom: 10px;

    &--type-2 {
      font-size: 15px;
    }
  }

  &__read_more {
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: bold;
    &--type-2{
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}
