.Section {
  &--dark-blue {
    background-color: #011726;
  }

  &--dark-black {
    background-color: black;
  }

  &--blue {
    background-color: #102036;
  }

  &__triangle {
    background-image: url(/assets/img/lever-traingle-detail-v1.svg), url(/assets/img/lever-traingle-shards-detail-v1.svg);
    background-repeat: no-repeat;
    background-position: 50% 35%, center 106%;
    background-size: 40%, 107%;

    &--type-1 {
      background-color: #5781A6;
    }

    &--type-2 {
      background-color: #335F82;
    }

    &--type-3 {
      background-color: #0067B1;
    }

    &--type-4 {
      background-color: #37ADBB;
    }

    &--type-5 {
      background-color: #AFB2B3;
    }

    &--type-6 {
      background-color: #1BB680;
    }

    &--type-7 {
      background-color: #008FBE;
    }

    &--type-8 {
      background-color: #2A6FA5;
    }
  }

  &--decoration-right {
    background-image: url(/assets/img/lever-content-shards-right-v1.svg);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &--decoration-left {
    background-image: url(/assets/img/lever-content-shards-left-v1.svg);
    background-repeat: no-repeat;
    background-position: left top;
  }

  &--decoration-right2 {
    background-image: url(/assets/img/perspectives-featured-topics-bg-detail-v1.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #102036;

  }

  &--background-gray {
    background-color: #F5F6F8;
  }

  &--decoration-map {
    background-color: #f5f6f8;
  }

  &--background-perspectives {
    background: url(/assets/img/perspectives-content-bg-detail-v1.svg), linear-gradient(90deg, transparent 70%, #E4E8EA 30%);
  }

  &--background-press {
    position: relative;
    min-height: 370px;
    //background: url(/assets/img/press-shards-v1.svg), linear-gradient(90deg, transparent 70%, #E4E8EA 30%);
  }

  &__press_bg__left {
    background: url(/assets/img/press-shards-v1.svg), linear-gradient(#003561, #000000);
    background-repeat: no-repeat;
    height: 100%;
    width: 44%;
    position: absolute;
  }

  &__press_bg__right {
    background: transparent;
    height: 100%;
    width: 56%;
    right: 0;
    position: absolute;
  }

  &--sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #E4E8EA;
  }

  &--bg-white {
    background-color: white;
  }

  &--bg-black {
    background-color: black;
  }

  &--bg-dark-gray {
    background-color: #e8e9ec;
  }

  &--bg-perspectives-home {
    background: url(/assets/img/perspectives-content-bg-detail-v1.svg);
  }

  &--blue-1000 {
    background-color: $blue-1000;
  }

  &--report-bg {
    background: url(/assets/img/shard-detail-horizontal-v1.svg), $dark-blue-gradient;
    position: relative;
    background-repeat: no-repeat;
  }
}
