.SocialShare {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  list-style-type: none;

  @include media-breakpoint-down(md) {
    margin-top: 1rem;
    justify-content: center;
  }

  &--align-left {
    justify-content: flex-start;
  }

  &__Item {

    margin: 0 .5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &__Link {
      margin: 0;
      padding: 0;
      &-Icon {
        max-width: 39px;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        opacity: 1;
        transition: 0.3s;
        &:hover {
          opacity: .3;
          transition: 0.3s;
        }
      }
    }
  }
}
