.Title {
  &--type-1 {
    @include font-size(40px);
    line-height: 1.25em;
    font-weight: 100;
    color: #5781A6;
  }

  &--type-2 {
    @include font-size(20px);
    line-height: 1.2em;
    font-weight: 600;
    color: black;
    letter-spacing: 2px;
  }

  &--type-3 {
    display: inline-block;
    margin: 0 auto;
    @include font-size(20px);
    line-height: 1.2em;
    font-weight: 600;
    color: white;
    padding: 50px 0;
    position: relative;
    z-index: 1;
    letter-spacing: 2.24px;

    &:after {
      z-index: -10;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-image: url(/assets/img/explore-another-lever-detail-v1.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40%;
    }
  }

  &--type-4 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    @include font-size(20px);

    @include media-breakpoint-down(md) {
      @include font-size(0.7rem);
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    @each $name, $color in $section-colors {
      &--#{$name}:hover {
        color: #fff;
        text-decoration-color: $color;
      }
    }

    span.slim-break {
      display: block;
    }
  }

  &--type-5 {
    color: white;
    @include font-size(18px);
    line-height: 100%;
    letter-spacing: 2.224px;
    font-weight: 500;
  }

  &--type-6 {
    @include font-size(42px);
    line-height: 1.2em;
    //letter-spacing: 2px;
    font-weight: 600;
    color: #5781A6;
  }

  &--type-7 {
    @include font-size(70px);
    line-height: 1.2em;
    color: #0067B0;
  }

  &--type-8 {
    @include font-size(40px);
    line-height: 1.2em;
    color: #0067B0;
  }
}
