.Footer {
  margin: 0;
  padding: 3rem 0 5rem 0;
  background: $blue-1000;

  @include media-breakpoint-down(md) {
    padding-bottom: 2rem;
  }
  &:after {
    height: 100px;
    content: '';
    position: relative;
  }
  &__Content {
    &-Title {
      color: $white;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: .14em;
    }
    &-Description {
      color: $white;
    }
    &-Copyright {
      color: $white;
    }
  }
}

.Get-In-Touch-Placeholder {
  height: 100px;
  margin: 0;
  padding: 0;
}

#collapsible-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 500ms;
  will-change: max-height;
}
