.Nav {
  position: relative;
  width: 100%;
  background: $black-1000;
  padding: 1rem;
  z-index: 100000;
  @include media-breakpoint-up(sm) {
    padding: 1rem .5rem;
  }
  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }
  .navbar {
    @include media-breakpoint-up(sm) {
      padding: 0 5rem 0 6.5rem;
    }

    .navbar-brand {

      img {
        max-width: 140px;
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-toggler {
    z-index: 100;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(md) {
      text-align: center;
      margin-top: 10px;
    }
    .nav-item {
      padding: 0 1rem;
      position: static;
      a {
        color: #fff;
        font-weight: 300;
        @include font-size($nav-link-font-size);
        transition: all ease-in-out .4s;
        letter-spacing: 2px;
        @include media-breakpoint-down(md) {
          @include font-size(24px);
        }
      }

      a.active {
        font-weight: bold;
      }

      &__dropdown {
        &:hover {
          .nav-item__dropdown__list {
            display: block;
          }
        }

        &__list {
          position: absolute;
          width: 100%;
          height: auto;
          left: 0;
          background: black;
          //display: none;
        }
      }
    }
  }
}

.custom-dropdown-menu {
  opacity: 0;
  transition: all ease-in-out .5s;
  position: absolute;
  width: 100%;
  border-top: 4px solid #003460;

  a {
    display: block;
  }
}
