.Graphic {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin: auto;

  svg {
    overflow: visible;
    display: block;
    width: auto;
    max-width: 542px;
    height: 71vh;
  }

  @media (max-width: 1000px) {
    .Triangle {
      transform: translate(-50%, -60%) scale(1.15);
    }
  }

  @media (max-width: 800px) {
    display: block;
    width: 100%;

    svg {
      margin: 4em auto 3em auto;
      height: auto;
    }
  }

  @media (max-width: 690px) {
    display: block;
    width: 100%;

    svg {
      max-width: 80vw;
    }
  }
}
