@import "vars";

*, *:before, *:after {
  box-sizing: border-box;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
}

.App {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: auto;
  position: absolute;
  background: rgba(0, 0, 0, 1);
  background: linear-gradient(
    90deg,
    rgba(0, 55, 99, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: flex-end;
  font-family: source-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $root-size;
  line-height: 1.2;
}
