$escalation: #5781a6;
$remediation: #2a6fa5;
$government: #0067b1;
$economic: #00c9d4;
$business: #afb2b3;
$operational: #1bb680;
$digital: #008fbe;
$real-time: #262830;

$color-white: #ffffff;

$transition-time: 1s;

$root-size: 16px;
