@import "../app/vars";

.Heptagon {
  position: relative;
  z-index: 1;
  max-width: 100%;

  .icon {
    transform: scale(3);
  }

  .background {
    transition: fill $transition-time ease;

  }

  .large-triangles {
    cursor: pointer;
    transform-origin: 50% 53%;
    &:hover {
      path {
        animation: large-triangles 1s ease infinite;
      }
    }

    path {
      transform-origin: 50% 50%;

      @keyframes large-triangles {
        0%,
        100% {
          fill: #ffffff;
          opacity: 0.05;
          transform: scale(1) rotate(0deg);
        }
        50% {
          fill: #e1523d;
          opacity: 0.5;
          transform: scale(1.5) rotate(25deg);
        }
      }
    }
  }

  &--active {
    .escalation,
    .remediation,
    .government,
    .economic,
    .business,
    .operational,
    .digital {
      opacity: 0.5;
    }
  }

  .escalation,
  .remediation,
  .government,
  .economic,
  .business,
  .operational,
  .digital {
    position: relative;

    .text {
      fill: #fff;
    }

    &.active {
      opacity: 1;
    }
  }

  .escalation .text {
    fill: $escalation;
  }

  .remediation .text {
    fill: $remediation;
  }

  .government .text {
    fill: $government;
  }

  .economic .text {
    fill: $economic;
  }

  .business .text {
    fill: $business;
  }

  .operational .text {
    fill: $operational;
  }

  .digital .text {
    fill: $digital;
  }

  .escalation {
    transform-origin: 50% 13%;

    .icon {
      transform-origin: 50% 8%;
    }

    &.active {
      .background {
        stroke: $escalation;
        fill: $escalation;
      }
    }
  }

  .remediation {
    transform-origin: 78% 26%;

    .icon {
      transform-origin: 77% 21%;
    }

    &.active {
      .background {
        stroke: $remediation;
        fill: $remediation;
      }

      .text {
        //
      }
    }
  }

  .government {
    transform-origin: 88% 62%;

    .icon {
      transform-origin: 87% 52%;
    }

    &.active {
      .background {
        stroke: $government;
        fill: $government;
      }
    }
  }

  .economic {
    transform-origin: 69% 86%;

    .icon {
      transform-origin: 68% 79%;
    }

    &.active {
      .background {
        stroke: $economic;
        fill: $economic;
      }
    }
  }

  .business {
    transform-origin: 30% 89%;

    .icon {
      transform-origin: 36% 82%;
    }

    &.active {
      .background {
        stroke: $business;
        fill: $business;
      }
    }
  }

  .operational {
    transform-origin: 14% 66%;

    .icon {
      transform-origin: 15% 57%;
    }

    &.active {
      .background {
        stroke: $operational;
        fill: $operational;
      }
    }
  }

  .digital {
    transform-origin: 19% 27%;

    .icon {
      transform-origin: 18% 24%;
    }

    &.active {
      .background {
        stroke: $digital;
        fill: $digital;
      }
    }
  }

  &--active {
    .Triangles--background {
      opacity: 0;
    }

    .Triangles--foreground {
      opacity: 1;
    }
  }

  &__menu {
    display: none;

    @media (max-width: 800px) {
      display: block;
    }
  }

  .read-more {
    position: relative;
    z-index: 2;

    &-bg,
    &-text {
      transition: fill $transition-time ease;
    }

    &:hover {
      .read-more-bg {
        fill: $color-white;
      }
      .read-more-text {
        fill: #000;
      }
    }
  }
}
