@import "../app/vars";

.MobileItem {
  color: $color-white;
  font-size: 1rem;
  padding: 1.5em;

  &__title {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .fractal {
      width: 30px;
      margin-right: 0.75em;
    }

    .cta {
      transition: transform $transition-time ease;
      width: 20px;
    }
  }

  &__content {
    padding-left: 2.8em;
    overflow: hidden;

    .description {
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: 300;
    }

    .read-more img {
      height: 48px;
    }
  }

  &--escalation {
    background-color: $escalation;
  }

  &--remediation {
    background-color: $remediation;
  }

  &--government {
    background-color: $government;
  }

  &--economic {
    background-color: $economic;
  }

  &--business {
    background-color: $business;
  }

  &--operational {
    background-color: $operational;
  }

  &--digital {
    background-color: $digital;
  }

  &--real-time {
    background-color: $real-time;
  }

  &--open &__title {
    .cta {
      transform: rotate(45deg);
    }
  }

  &--open &__content {
    //transition: max-height $transition-time ease;
  }
}
